
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    width: 100%;
    color: #333;
}

.preview {
    position: relative;
    margin-top: 20px;
    width: 45%;
    aspect-ratio: 2;
    border-radius: 8px;
}


iframe {
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

a {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    text-decoration: none;
}

@media(min-width:2801px) {
    .preview {
        zoom: 0.775;
    }
}

@media(max-width:2800px) {
    .preview {
        zoom: 0.75;
    }
}

@media(max-width:2700px) {
    .preview {
        zoom: 0.725;
    }
}

@media(max-width:2600px) {
    .preview {
        zoom: 0.7;
    }
}

@media(max-width:2500px) {
    .preview {
        zoom: 0.675;
    }
}

@media(max-width:2400px) {
    .preview {
        zoom: 0.65;
    }
}

@media(max-width:2300px) {
    .preview {
        zoom: 0.625;
    }
}

@media(max-width:2200px) {
    .preview {
        zoom: 0.6;
    }
}

@media(max-width:2100px) {
    .preview {
        zoom: 0.575;
    }
}

@media(max-width:2000px) {
    .preview {
        zoom: 0.55;
    }
}

@media(max-width:1900px) {
    .preview {
        zoom: 0.525;
    }
}

@media(max-width:1800px) {
    .preview {
        zoom: 0.5;
    }
}

@media(max-width:1700px) {
    .preview {
        zoom: 0.475;
    }
}

@media(max-width:1600px) {
    .preview {
        zoom: 0.45;
    }
}

@media(max-width:1500px) {
    .preview {
        zoom: 0.425;
    }
}

@media(max-width:1400px) {
    .preview {
        zoom: 0.375;
    }
}

@media(max-width:1300px) {
    .preview {
        zoom: 0.35;
    }
}

@media(max-width:1200px) {
    .preview {
        zoom: 0.325;
    }
}

@media(max-width:1120px) {
    .preview {
        zoom: 0.3;
    }
}

@media(max-width:1000px) {
    .preview {
        zoom: 0.285;
    }
}

@media(max-width:960px) {
    .preview {
        width: 100%;
        zoom: 0.6;
    }
}

@media(max-width:900px) {
    .preview {
        zoom: 0.5;
    }
}

@media(max-width:840px) {
    .preview {
        zoom: 0.475;
    }
}

@media(max-width:720px) {
    .preview {
        zoom: 0.45;
    }
}

@media(max-width:687px) {
    .preview {
        zoom: 0.425;
    }
}

@media(max-width:650px) {
    .preview {
        zoom: 0.4;
    }
}

@media(max-width:616px) {
    .preview {
        zoom: 0.375;
    }
}

@media(max-width:582px) {
    .preview {
        zoom: 0.35;
    }
}

@media(max-width:545px) {
    .preview {
        zoom: 0.325;
    }
}

@media(max-width:512px) {
    .preview {
        zoom: 0.3;
    }
}

@media(max-width:500px) {
    body {
        position: relative;
        padding: 10px 0px;
        margin: 0px 10px;
    }

    .preview {
        min-height: 90vh;
        zoom: 1;
        margin: 0px 10px;
    }

    a {
        padding: 10px 14px;
        border-radius: 4px;
        font-size: 20px;
        zoom: 1;
    }

    .open {
        margin-left: 24%;
    }

    .code {
        margin-left: 56%;
    }

    button {
        background-color: black;
        color: white;
        position: absolute;
        bottom: -16px;
        min-width: 20px;
        min-height: 20px;
        zoom: 1.7;
        border-radius: 4px;
    }

    .previous {
        display: none;
        left: 10px;
    }

    .next {
        right: 10px;
    }
}

@media(max-width:445px) {
    .preview {
        min-height: 117vh;
        zoom: 0.8;
    }
}

@media(min-width:501px) {
    body {
        flex-wrap: wrap;
    }

    a {
        font-size: 0px;
        right: 6px;
        min-width: 35px;
        min-height: 35px;
        border-radius: 50%;
        zoom: 3;
    }

    a:hover {
        background-color: #333;
        zoom: 3.25;
    }

    .open {
        top: 15px;
    }

    .code {
        top: 52px;
    }

    button {
        display: none;
    }
}
.whitebox{
    box-shadow: 0 1px 6px 0 #20212447;
}
